/* src/components/NotFound/NotFound.css */
.not-found {
    text-align: center;
    padding: 100px 20px;
    font-size: 24px;
    color: #333;
  
  }
  
  .not-found h1 {
    font-size: 100px;
    margin: 0;
    color: #e74c3c;
  }
  
  .not-found p {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .go-home-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .go-home-button:hover {
    background-color: #2980b9;
  }
  